/*  your css code here. If applicable */
.container2{
	text-align:right;
	font-style:italic;
}
.eg1 {
	padding:10px;
	border:solid black;
	background-color:ghostwhite;
	
}
#main{
	padding:10px;
	background-color:#f5f5f5;
}

}